<div id="menu">
  <div class="pure-menu">
    <div class="pure-menu-heading">
      {{title}}
    </div>

    <ul class="pure-menu-list">

      <li class="pure-menu-item">
        <a [routerLink]="['']" class="pure-menu-link">
          <i class="fa fa-th-list" aria-hidden="true">&nbsp;&nbsp;Problem list</i>
        </a>
      </li>
      <li class="pure-menu-item">
        <a *ngIf="authService.isAuthenticated()" [routerLink]="['rooms']" class="pure-menu-link">
          <i class="fa fa-group" aria-hidden="true">&nbsp;&nbsp;Rooms</i>
        </a>
      </li>
      <li class="pure-menu-item">
        <a [routerLink]="['/new-problem']" class="pure-menu-link">
          <i class="fa fa-heart" aria-hidden="true">&nbsp;&nbsp;Contribute</i>
        </a>
      </li>

      <li class="pure-menu-item menu-item-divided">
        <a *ngIf="!authService.isAuthenticated()"  (click)="authService.login()" class="pure-menu-link">
          <i  class="fa fa-sign-in" aria-hidden="true">
            &nbsp;&nbsp;Sign in
          </i>
        </a>

        <a *ngIf="authService.isAuthenticated()" (click)="authService.logout()" class="pure-menu-link">
          <i class="fa fa-sign-out" aria-hidden="true">
            &nbsp;&nbsp;Sign Out
          </i>
        </a>
      </li>

    </ul>
  </div>
</div>
